<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Train Ticket Reservation System</title>
    <link type="text/css" th:href="@{\style.css}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{\webjars\bootstrap\4.3.1\css\bootstrap.css}">
</head>
<body>

<div class="menu-bar shadow">
    <h2 class="heading"><img style="height:50px;" th:src="@{\trainTicket.png}">  &emsp; TRAIN TICKET RESERVATION</h2>
    <ul>
        <li class="active"></i><a href="index"> HOME</a></li>
        <li><a href="reservation"></i>REGISTER</a>
    </ul>
</div><br>
<table class="table-striped" >
    <thead>
    <th>Train No</th>
    <th>Train Name</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Price</th>
    </thead>
    <tbody>
    <th:block th:each="train:${trainList}">
        <tr class='clickable-row' th:data-href="@{reservation?(trainNo=${train.trainNo})}">
            <td>[[${train.trainNo}]]</td>
            <td>[[${train.trainName}]]</td>
            <td>[[${train.source}]]</td>
            <td>[[${train.destination}]]</td>
            <td>[[${train.ticketPrice}]]</td>
        </tr>
    </th:block>
    </tbody>
</table><br>
<footer>Copyright @ JP 2021</footer>
</body>
<script th:src="@{\webjars\jquery\3.0.0\jquery.js}"></script>

<script>
// this function is for making the whole row as clickable

    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });

</script>
</html>