<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">

	<title>Train Ticket Reservation</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
.menu-bar{
   background: rgba(255, 245, 102, 0.621) ;
   text-align: center;
   width:100%;
   height:60px;
   border-radius:10px;
}
/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}
.google {
  background-color: #dd4b39;
  color: white;
}
</style>
<body>
<!--Header Section-->
<div class="menu-bar shadow">
	<h2 class="heading"><img style="height:50px;" th:src="@{\img\trainTicket.png}"> &emsp; TRAIN TICKET RESERVATION</h2>
</div><br>
	<div class = "container card col-6 card  mt-0 p-5">
		<div class = "row">
			<div class = "col-md-12  col-md-offset-3">

				<form th:action="@{/login}" method="post">
					
					<!-- error message -->
					<div th:if="${param.error}">
						<div class="alert alert-danger">Invalid username or
							password.</div>
					</div>
				
					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
					</div>
					
					<div class = "form-group">
						<label for ="username"> Email </label> :
						<input type="text" class = "form-control" id ="username" name = "username"
						placeholder="Enter Email ID" autofocus="autofocus">
					</div>
					
					<div class="form-group">
						<label for="password">Password</label>: <input type="password"
							id="password" name="password" class="form-control"
							placeholder="Enter Password" />
					</div>
					
					<div class="form-group">
						<div class="row justify-content-between">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="Log In" />
							</div>
						</div>
					</div>
				</form>
				<div class="form-group">
						<span>New user? </span>
				</div>
				<div class="row justify-content-between">
					<a href="/"  th:href="@{/registration}" class="fb btn">
						<i class="fa fa-facebook fa-fw"></i> Login with Facebook
					</a>
					<a href="/"  th:href="@{/registration}" class="google btn"><i class="fa fa-google fa-fw">
					</i> Login with Google+
					</a>
					<a href="/" th:href="@{/registration}" class="btn btn-primary">Register
						here</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>