* {
box-sizing: border-box;
}
body{
  background: url(ticket.jpg) no-repeat center;
  background-size: cover;
  height: 500px;
  position: relative;
 }
input,select {
  width: 200px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  color: black;
  padding: 12px 20px;

}
marquee{
  color: #333;
}
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width:900px;
  margin-left:200px;
  box-shadow: 10px 10px 8px #888888;
  opacity:0.9;
}
#submit {
  background-color:red;
  color:white;
  margin-left:300px;
}
table{
  margin-left:120px;
  width:80%;
}
th{
  background-color: #04AA6D;
  color: white;
}
th, td {
  padding: 12px;
  text-align: left;
  border-radius:5px;
  border: 1px solid grey;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  background-color: #f6f6f6;
}
tr:hover{
  color: green;
  cursor:pointer;
}

.menu-bar{
   background: rgba(255, 245, 102, 0.621) ;
   text-align: center;
   width:100%;
   border-radius:10px;
}

.menu-bar ul{
   display: inline-flex;
   list-style: none;
   color: rgb(0, 0, 0);
}
.menu-bar ul li{
    width: 100px;
    padding: 10px;
    margin:3px;
    border-radius:5px;
}
.heading{
    float:left;
    margin-left:80px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom:0;
}
 .menu-bar ul li a
 {
     text-decoration:none;
     color: #0e0d0d;
 }
 .active,.menu-bar ul li:hover
 {
    background: #fff;
    border-radius:5px;
    width:100px;
    padding: 10px;
    box-shadow: 6px 6px 6px #888888;
 }
 footer{
      background: rgba(255, 245, 102, 0.621) ;
      text-align: center;
      width:100%;
      padding:15px;
 }







