<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Train Ticket Confirmation</title>
    <link type="text/css" th:href="@{\style.css}" rel="stylesheet">
<!--    Bootstrap link from webjars-->
    <link type="text/css" rel="stylesheet" th:href="@{\webjars\bootstrap\4.3.1\css\bootstrap.css}">
</head>
<style>

</style>
<body>
<!--Bootstrap Alert-->
<center>
    <div class="col-10 alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Congratulation! </strong>You have Successfully booked a Ticket.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</center>
<!--Button for download Ticket as Pdf-->
<a type="button" class="float-right mr-5 btn btn-secondary" th:href="@{\downloadTicket}"> Download </a> <br>

<!--Ticket Confirmation page as Preview-->
<div class="card m-5 mb-5 shadow">
    <center>
        <form>
            <table id="table1" border="0px" align="left">
                <tr>
                    <td>PNR</td>
                    <td>:&emsp;[[${pnr}]] </td>
                </tr>
                <tr>
                    <td>Train No</td>
                    <td>:&emsp;[[${trainNo}]]</td>
                </tr>
                <tr>
                    <td>Train Name</td>
                    <td>:&emsp;[[${train.trainName}]]</td>
                </tr>
                <tr>
                    <td>From</td>
                    <td>:&emsp;[[${train.source}]]</td>
                </tr>
                <tr>
                    <td>To</td>
                    <td>:&emsp;[[${train.destination}]]</td>
                </tr>
                <tr>
                    <td>Travel Date</td>
                    <td>:&emsp;[[${travelDate}]]</td>
                </tr>
                <tr>
                    <td><b>Passengers:</b></td>
                </tr><br>
            </table>
            <table id="table2" class="table-striped shadow" align="left">
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>Fare</th>
                </tr>
                <th:block th:each="passenger:${passengers}">
                    <tr>
                        <td>[[${passenger.name}]]</td>
                        <td>[[${passenger.age}]]</td>
                        <td>[[${passenger.gender}]]</td>
                        <td>[[${passenger.price}]]</td>
                    </tr>
                </th:block>
                <tr>
                    <td>Total Price:</td>
                    <td></td>
                    <td></td>
                    <td>[[${totalPrice}]]</td>
                </tr>
            </table>
        </form>
        <br><br>
        <img height="200px;" class="mt-5" th:src="@{\happyJourney.png}">
    </center>
</div>
</body>
</html>
