<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Train Ticket Reservation System</title>
    <link type="text/css" th:href="@{\css\style.css}" rel="stylesheet">
    <!--    Bootstrap link from webjars-->
    <script th:src="@{\webjars\jquery\3.0.0\jquery.js}"></script>

    <link type="text/css" rel="stylesheet" th:href="@{\webjars\bootstrap\4.3.1\css\bootstrap.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script type="text/javascript"  th:src="@{\webjars\bootstrap\4.3.1\js\bootstrap.js}"></script>
</head>
<body>
<!--Header Section-->
<div class="menu-bar shadow">
    <h2 class="heading"><img style="height:50px;" th:src="@{\img\trainTicket.png}">  &emsp; TRAIN TICKET RESERVATION</h2>
    <ul>
        <li><a href="index"></i> HOME</a>
        <li class="active"></i><a href="trains">TRAINS</a></li>
        <li><a th:href="@{/logout}"> <i class="bi bi-box-arrow-right"></i> LOGOUT</a></li>
    </ul>
</div><br>
<button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#AddTrainModal">
    Add Train
</button><br><br>
<!--Trains Table from Backend-->
<table class="table-striped shadow" >
    <thead>
    <th>Train No</th>
    <th>Train Name</th>
    <th>Source</th>
    <th>Destination</th>
    <th>Price</th>
    <th>Action</th>
    </thead>
    <tbody>
    <th:block th:each="train:${trainList}">
        <tr  th:data-href="@{reservation?(trainNo=${train.trainNo})}">
            <td>[[${train.trainNo}]]</td>
            <td>[[${train.trainName}]]</td>
            <td>[[${train.source}]]</td>
            <td>[[${train.destination}]]</td>
            <td>[[${train.ticketPrice}]]</td>
            <td><i type="button" th:data-train="(${train.trainNo})" id="edit-train" class="bi bi-pen btn btn-primary" ></i>&emsp;
                <i type="button" th:data-train="(${train.trainNo})" id="delete-train" class="bi bi-trash btn btn-danger" ></i></td>
        </tr>
    </th:block>
    </tbody>
</table><br>

</body>
<!-- Modal -->
<div class="modal fade" id="AddTrainModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:1200px; left:-350px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Train</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{addTrain}" method="post"  >
                <div class="form-group">
                    <label for="noOfTrains">No of Trains:</label>
                    <input type="number" name="noOfTrains" max="6"     id="noOfTrains" class="form-control" required placeholder="Enter No of Trains">
                </div>
                <div id="content"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="UpdateTrain" tabindex="-1" role="dialog" aria-labelledby="exampleModalLong" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLong">Edit Train</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{updateTrain}" method="post">
                    <div class="col-12 justify-content-between">
                      <div class="form-group">
                        <label for="trainNo">Train No:</label>
                        <input type="text" name="trainNo"  id="trainNo" class="form-control" placeholder="Train No">
                          <label for="trainName">Train Name:</label>
                          <input type="text" name="trainName"  id="trainName" class="form-control" placeholder="Train Name">
                        <label for="source">Source:</label>
                        <input type="text" name="source"  id="source" class="form-control" placeholder="Source">
                        <label for="destination" >Destination :&emsp;</label><br>
                        <input type="text" name="destination"  id="destination" class="form-control" placeholder="Destination">
                        <label for="price" >Price :&emsp;</label><br>
                        <input type="text" name="price"  id="price" class="form-control" placeholder="Price">
                      </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="DeleteTrain" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal">Delete Train</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{deleteTrain}" method="post">
                    <h6> Sure you want to delete the train</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="submit" id="delete-train-button" data-train="" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>

<!-- this function is for making the whole row as clickable-->

    $(".clickable-row").click(function() {
        window.location = $(this).data("href");
    });

    <!--this funtion for generating dynamic form feilds-->
$(document).off('input').on('input','#noOfTrains' ,function(){
  var val=$(this).val();
  if(val<=5){
  $('#content').html('');
  for (let i = 1; i <= val; i++) {
  $('#content').append('<div class="row col-12 justify-content-between">'+
                '<div class="form-group"><label for="trainNo'+i+'">Train No:</label>'+
          '<input type="text" name="trainNo'+i+'"  id="trainNO'+i+'" class="form-control" placeholder="Train No"></div>'+
          '<div class="form-group"><label for="trainName'+i+'">Train Name:</label>'+
          '<input type="text" name="trainName'+i+'"  id="trainName'+i+'" class="form-control" placeholder="Train No"></div>'+
          '<div class="form-group"><label for="source'+i+'">Source:</label>'+
          '<input type="text" name="source'+i+'"  id="source'+i+'" class="form-control" placeholder="Source"></div>'+
          '<div class="form-group"><label for="destination'+i+'" >Destination :&emsp;</label><br>'+
         '<input type="text" name="destination'+i+'"  id="destination'+i+'" class="form-control" placeholder="Destination"></div>'+
             '<div class="form-group"><label for="price'+i+'" >Price :&emsp;</label><br>'+
         '<input type="text" name="price'+i+'"  id="price'+i+'" class="form-control" placeholder="Price"></div>'+
           '</div></div>');
  }
  }
  else alert("No of Passenger must be less than 5");
 });
<!--This function is used to find train-->
$(document).on('click','#edit-train' ,function(){
 var trainNo=$(this).attr('data-train');
  $.ajax({
    url: "\checkTrain",
    type:"POST",
    data:{"trainNo":trainNo},
    success: function(result){
      if(result!=""){
        $('#trainNo').val(result.trainNo);
        $('#trainName').val(result.trainName);
        $('#source').val(result.source);
        $('#destination').val(result.destination);
        $('#price').val(result.ticketPrice);
     }
     else if(result==""){
        $('#trainNo').val('');
        $('#trainName').val('');
        $('#source').val('');
        $('#destination').val('');
        $('#price').val('');
     }
    }
  });
  $('#UpdateTrain').modal('show');
});
<!--This function is used to find train-->
$(document).on('click','#delete-train' ,function(){
 var trainNo=$(this).attr('data-train');
  $('#delete-train-button').attr('data-train',trainNo);
  $('#DeleteTrain').modal('show');
});
$(document).on('click','#delete-train-button' ,function(){
 var trainNo=$(this).attr('data-train');
  $.ajax({
    url: "\deleteTrain",
    type:"POST",
    data:{"trainNo":trainNo},
    success: function(result){
    alert("Train Successfully Deleted");
    }
  });
});
</script>
</html>